.chapter-cards-container {
  display: flex;
  flex-wrap: wrap;
  .chapter-card {
    padding: 10px;
    margin: 15px;
    border-radius: 5px;
    width: 150px;
    transition: 0.2s;
    box-shadow: 0 0 10px rgba(black, 0.5);
    &:hover {
      box-shadow: 0 0 3px rgba(black, 0.5);
    }
  }
}
