<ng-template #headerTemplate let-header>
  <div [ngSwitch]="accessLevel">
    <h3 *ngSwitchCase="3">
      {{ header }}
    </h3>
    <h2 *ngSwitchCase="2">
      {{ header }}
    </h2>
    <h1 *ngSwitchCase="1">
      {{ header }}
    </h1>
  </div>
</ng-template>

<div class="chapter-cards-container">
  <app-card
    *ngFor="let chapter of book.chapters"
    (click)="readChapter(chapter.name)"
    [headerTemplate]="headerTemplate"
    [ratingTemplate]="ratingTemplate"
    [previewTemplate]="accessLevel ? previewTemplate : null"
    [chapter]="chapter"
    class="chapter-card"
  ></app-card>
</div>

<ng-template #ratingTemplate let-rating>
  <ng-container [ngSwitch]="accessLevel">
    <h3 *ngSwitchDefault>Rating: {{ rating }}</h3>
    <div *ngSwitchCase="1" style="color: gold">{{ "★".repeat(rating) }}</div>
  </ng-container>
</ng-template>

<ng-template let-text #previewTemplate>
  <div style="height: 100px; overflow: hidden; opacity: 0.3">
    {{ text }}
  </div>
</ng-template>
