<div class="add-book-container">
  <h3>{{ "AddBook" | i18next }}</h3>
  <form [formGroup]="formGroup">
    <mat-form-field appearance="fill">
      <mat-label>{{ "BookNameLabel" | i18next }}</mat-label>
      <input formControlName="name" matInput value="" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{ "DescriptionLabel" | i18next }}</mat-label>
      <input formControlName="description" matInput value="" />
    </mat-form-field>
    <div class="buttons-container">
      <button mat-raised-button color="primary" (click)="onSubmit()">
        Submit
      </button>
      <button mat-raised-button (click)="cancel()">
        {{ "Cancel" | i18next }}
      </button>
    </div>
  </form>
</div>
